body {
    margin: 0;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
.card {
     width:320px;
    background:white;
    border:1px solid #ddd;
    border-radius:15px;
    box-shadow: 10px 10px 5px 5px grey;

}
.card img{
    width: 100%;
    display: block;
}
header {
    padding: 20px;
}
header h2{
margin: 0;
}
.job {
    color:gray;
    font-size: 14px;
    margin-top: 8px;
}
footer{

    padding:20px;

}


