* {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color:#f9f9f9;
  color: #333;
}
h2 {
  color:#333;
  border-bottom: #333;
  padding: 0%;
}
.Highlight {
    background-color:lightblue;
    padding: 0%;
    border-radius: 0%;
  /* add: background-color, padding, border-radius */
}
#contact{
    background-color: aliceblue;
}
p {
  color: black;
}

.intro-text {
  color: blue;
}

#about-paragraph {
  color: green;
}
nav {
  margin-top: auto;
}

nav a {
  margin-right: auto;
  color:rebeccapurple;
  text-decoration: dotted;
}