body{
    padding: 1rem;
    margin-bottom: 1rem;
    
}
.box-px {
    width: 300px;
    background: aqua;
}
.box-percent{
    width: 50%;
    background:aliceblue;
}
.box-rem{
width:20rem;
background:aquamarine;
}
.box-vw {
    width: 60vw;
    background: #f0f4ff;
}
html{
    font-size: 20px;
}
.font-demo{
    font-size: 2px;

}
.px-tex{
 font-size: 16px;
}
.rem-text{
font-size:1rem ;
}
.em-text{

font-size: 12em;
}